<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bMAIL</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/css/simple-sidebar.css" rel="stylesheet">
<style>
  body {
  background-color: #f8f9fa!important
  }
  .nounderline {
  text-decoration: none !important
  }
  .to-black{
  color: black;
  }
  .shorText
{
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-position {
  position: fixed;
  bottom: 5%;
  right: 5%;
  }
</style>
</head>

<body>
{% if logiran %}
  <div class="d-flex" id="wrapper">
    <div class="bg-dark border-right sidenav" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="/">b<samp>MAIL</samp></a></div>
      <div class="list-group list-group-flush">
        <a href="/novo" class="list-group-item list-group-item-action bg-dark text-light">Novo</a>
          <a href="/prejeto" class="list-group-item list-group-item-action bg-dark text-light">Prejeto</a>
        <a href="/poslano" class="list-group-item list-group-item-action bg-dark text-light">Poslano</a>
        <a href="/izbrisano" class="list-group-item list-group-item-action bg-dark text-light">Izbrisano</a>
        <a href="/stiki" class="list-group-item list-group-item-action bg-dark text-light">Stiki</a>
        {% if logiran %}
        <a href="{{ logout_url }}" class="list-group-item list-group-item-action bg-dark text-danger">Odjavi me</a>
        {% endif%}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <!--<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">-->
        <!--<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->

        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
          <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->

        <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
          <!--<ul class="navbar-nav ml-auto mt-2 mt-lg-0">-->
            <!--<li class="nav-item active">-->
              <!--<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
              <!--<a class="nav-link" href="#">Link</a>-->
            <!--</li>-->
            <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--Dropdown-->
              <!--</a>-->
              <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
                <!--<a class="dropdown-item" href="#">Action</a>-->
                <!--<a class="dropdown-item" href="#">Another action</a>-->
                <!--<div class="dropdown-divider"></div>-->
                <!--<a class="dropdown-item" href="#">Something else here</a>-->
              <!--</div>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</nav>-->

      <div class="container-fluid p-3 bg-light">
          {% block novo_sporocilo %}{% endblock novo_sporocilo %}
          {% block prejeto %}{% endblock prejeto %}
          {% block poslano %}{% endblock poslano %}
          {% block izbrisano %}{% endblock izbrisano %}
          {% block stiki %}{% endblock stiki %}
          {% block preberi %}{% endblock preberi %}
          {% block pozdrav %}{% endblock pozdrav %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../assets/js/bmail.js"></script>
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% else %}
      <h1>Zivjo uporabnik bMaila</h1>
    <p>Prosim prijavi se: <a href="{{ login_url }}">Login</a></p>
{% endif %}
</body>

</html>
